.container {
    width: 100vw;
    padding: 6.4rem 1.6rem;
    color: var(--gray-100);
    margin: 0 10rem;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.tasks-created {
    margin-top: 1rem;
}
.tasks-created strong {
    color: var(--blue);
    font-size: 1.4rem;
}

.tasks-created span {
    margin-left: 0.8rem;
    border-radius: 999px;
    color: var(--gray-100);
    padding: 2px 8px;
    background-color: var(--gray-400);
    font-size: 1.2rem;
    font-weight: bold;
}

.tasks-completed {
    margin-top: 1rem;
    margin-left: auto;
}
.tasks-completed strong {
    color: var(--purple);
    font-size: 1.4rem;
}

.tasks-completed span {
    margin-left: 0.8rem;
    border-radius: 100%;
    color: var(--gray-100);
    padding: 2px 8px;
    background-color: var(--gray-400);
    font-size: 1.2rem;
    font-weight: bold;
}

main {
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-list strong,
span {
    font-size: 1.6rem;
    line-height: 22.4px;
    color: var(--gray-300);
}

.empty-list strong {
    font-weight: bold;
}

li {
    list-style-type: none;
    padding: 1.6rem;
    width: 80vw;
    display: flex;
    gap: 1.6rem;
    background-color: var(--gray-500);
}

li + li {
    margin-top: 0.8rem;
}

li span {
    color: var(--gray-100);
    font-size: 1.4rem;
}
li span.task-finished {
    text-decoration: line-through;
    color: var(--gray-300);
}

button {
    background-color: transparent;
    border: none;
}

button svg path {
    transition: 0.5s linear;
}

button svg path:hover {
    filter: brightness(0.8);
}
